# Python
__pycache__/
*.py[cod]
*.pyo
.env
venv/
env/

# Model files (optional — add if too large for GitHub)
# model/*.pkl

# Streamlit
.streamlit/secrets.toml

# OS
.DS_Store
Thumbs.db

# VS Code
.vscode/
ML_project_Fraud_Detection_Complete.ipynb
